h1 {
	text-align: center;
}
html, body {
    background: linear-gradient(black, white); /* Standard syntax */
	margin: 0;
	height: 100%;
}
#logo {
	height:50%;
	width: 50%;
}

.element {
	color: #A00606;
	font-size: 25px;
}