h1 {
	text-align: center;
}
html, body {
    background: linear-gradient(black, white); /* Standard syntax */
	margin: 0;
	height: 100%;
}
#logo {
	height:50%;
	width: 50%;
}

h4 {
	color:red;
}

.element {
	color: #A00606;
	font-size: 25px;
}

tr { 
  vertical-align: top;
}
th td {
	padding-left:50px;
	padding-right:50px;
}
.post { 
  width: 500px; 
}